<section id="home" class="module bg-dark bg-dark-50" style="padding: 140px 0 40px">

    <div class="hs-caption container">
      <div class="caption-content">
        <div class="hs-title-size-4 font-alt m-b-30">
          {{'videos.title' | translate}}
        </div>
      </div>
    </div>
</section>
<!-- WRAPPER -->
    <div class="wrapper">

        <!-- TESTIMONIAL -->
        <section class="module-small">

            <div class="container">

                <div class="row m-b-30">
                    <!-- MODULE TITLE -->
                    <div class="col-md-4">
                        <h2 class="module-title font-alt">{{'videos.casacor' |translate}}</h2>
                    </div>
                    <!-- /MODULE TITLE -->

                    <!-- BLOCKQUOTE -->
                    <div class="col-sm-12 col-md-8">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/GTpUnj4R4jI" frameborder="0" allowfullscreen>
                        </iframe>
                    </div>
                    <!-- /BLOCKQUOTE -->
                </div>
                <div class="row m-b-30">

                    <!-- MODULE TITLE -->
                    <div class="col-md-4">
                        <h2 class="module-title font-alt">{{'videos.paixao' |translate}}</h2>
                    </div>
                    <!-- /MODULE TITLE -->

                    <!-- BLOCKQUOTE -->
                    <div class="col-sm-12 col-md-8">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/wzkchZCSW0Q" frameborder="0" allowfullscreen>
                        </iframe>
                    </div>
                    <!-- /BLOCKQUOTE -->
                </div>

                <div class="row m-b-30">
                    <!-- MODULE TITLE -->
                    <div class="col-md-4">
                        <h2 class="module-title font-alt">{{'videos.exposicao-aglutinar' |translate}}</h2>
                    </div>
                    <!-- /MODULE TITLE -->

                    <!-- BLOCKQUOTE -->
                    <div class="col-sm-12 col-md-8">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Qm8JBoedJhQ" frameborder="0" allowfullscreen>
                        </iframe>
                    </div>
                    <!-- /BLOCKQUOTE -->
                </div>

                <div class="row m-b-30">
                    <!-- MODULE TITLE -->
                    <div class="col-md-4">
                        <h2 class="module-title font-alt">{{'videos.entrevista-aglutinar' |translate}}</h2>
                    </div>
                    <!-- /MODULE TITLE -->

                    <!-- BLOCKQUOTE -->
                    <div class="col-sm-12 col-md-8">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/mSVAHXVaFTI" frameborder="0" allowfullscreen>
                        </iframe>
                    </div>
                    <!-- /BLOCKQUOTE -->
                </div>

                <div class="row m-b-30">
                    <!-- MODULE TITLE -->
                    <div class="col-md-4">
                        <h2 class="module-title font-alt">{{'videos.desconstrucao' |translate}}</h2>
                    </div>
                    <!-- /MODULE TITLE -->

                    <!-- BLOCKQUOTE -->
                    <div class="col-sm-12 col-md-8">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/1oF49LDkZko" frameborder="0" allowfullscreen>
                        </iframe>
                    </div>
                    <!-- /BLOCKQUOTE -->
                </div>

                <div class="row m-b-30">
                    <!-- MODULE TITLE -->
                    <div class="col-md-4">
                        <h2 class="module-title font-alt">{{'videos.desconstrucao' |translate}}</h2>
                    </div>
                    <!-- /MODULE TITLE -->

                    <!-- BLOCKQUOTE -->
                    <div class="col-sm-12 col-md-8">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/1wMHLdx-0lU" frameborder="0" allowfullscreen>
                        </iframe>
                    </div>
                    <!-- /BLOCKQUOTE -->
                </div>

                <div class="row m-b-30">
                    <!-- MODULE TITLE -->
                    <div class="col-md-4">
                        <h2 class="module-title font-alt">{{'videos.o-homem-e-sua-sombra' |translate}}</h2>
                    </div>
                    <!-- /MODULE TITLE -->

                    <!-- BLOCKQUOTE -->
                    <div class="col-sm-12 col-md-8">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/E0PUQTklebs" frameborder="0" allowfullscreen>
                        </iframe>
                    </div>
                    <!-- /BLOCKQUOTE -->
                </div>
            </div>

        </section>
        <!-- /TESTIMONIAL -->
    </div>
    <!-- /WRAPPER -->
