<section id="home" class="module bg-dark bg-dark-50" style="padding: 140px 0 40px">

    <div class="hs-caption container">
      <div class="caption-content">
        <div class="hs-title-size-4 font-alt m-b-30">
          {{'fotografias.title' | translate}}
        </div>
      </div>
    </div>
    </section>
    <div class="wrapper">
        <section class="module-small" style="padding:10px 0"></section>
                <!-- TESTIMONIAL -->
                <section class="module p-t-0 p-b-0">
        
              <!-- PORTFOLIO LIST -->
              <ul id="works-grid" class="works-grid works-grid-masonry works-grid-3 works-hover-w" style="position: relative; height: 813.688px;">
        
                <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/001.jpg" class="popup" title="Fotografia 1">
                    <div class="work-image">
                      <img src="assets/images/fotos/001.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                <!-- /PORTFOLIO ITEM -->
        
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/002.jpg" class="popup" title="Fotografia 2">
                    <div class="work-image">
                      <img src="assets/images/fotos/002.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                <!-- /PORTFOLIO ITEM -->
        
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/003.jpg" class="popup" title="Fotografia 3">
                    <div class="work-image">
                      <img src="assets/images/fotos/003.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                <!-- /PORTFOLIO ITEM -->
        
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/004.jpg" class="popup" title="Fotografia 4">
                    <div class="work-image">
                      <img src="assets/images/fotos/004.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                <!-- /PORTFOLIO ITEM -->
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/005.jpg" class="popup" title="Fotografia 5">
                    <div class="work-image">
                      <img src="assets/images/fotos/005.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                <!-- /PORTFOLIO ITEM -->
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/006.jpg" class="popup" title="Fotografia 6">
                    <div class="work-image">
                      <img src="assets/images/fotos/006.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                        <!-- /PORTFOLIO ITEM -->
                        
                         <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/007.jpg" class="popup" title="Fotografia 7">
                    <div class="work-image">
                      <img src="assets/images/fotos/007_t.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                <!-- /PORTFOLIO ITEM -->
         
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/008.jpg" class="popup" title="Fotografia 8">
                    <div class="work-image">
                      <img src="assets/images/fotos/008.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                <!-- /PORTFOLIO ITEM -->
                        
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/009.jpg" class="popup" title="Fotografia 9">
                    <div class="work-image">
                      <img src="assets/images/fotos/009.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                        <!-- /PORTFOLIO ITEM -->
                        
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/010.jpg" class="popup" title="Fotografia 10">
                    <div class="work-image">
                      <img src="assets/images/fotos/010.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                        <!-- /PORTFOLIO ITEM -->
                        
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/011.jpg" class="popup" title="Fotografia 11">
                    <div class="work-image">
                      <img src="assets/images/fotos/011.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                        <!-- /PORTFOLIO ITEM -->
                        
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/012.jpg" class="popup" title="Fotografia 12">
                    <div class="work-image">
                      <img src="assets/images/fotos/012.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                        <!-- /PORTFOLIO ITEM -->
                        
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/013.jpg" class="popup" title="Fotografia 13">
                    <div class="work-image">
                      <img src="assets/images/fotos/013.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                <!-- /PORTFOLIO ITEM -->
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/014.jpg" class="popup" title="Fotografia 14">
                    <div class="work-image">
                      <img src="assets/images/fotos/014.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                <!-- /PORTFOLIO ITEM -->
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/015.jpg" class="popup" title="Fotografia 15">
                    <div class="work-image">
                      <img src="assets/images/fotos/015.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                <!-- /PORTFOLIO ITEM -->
                      
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/016.jpg" class="popup" title="Fotografia 16">
                    <div class="work-image">
                      <img src="assets/images/fotos/016.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                        <!-- /PORTFOLIO ITEM -->
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/017.jpg" class="popup" title="Fotografia 17">
                    <div class="work-image">
                      <img src="assets/images/fotos/017_t.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                        <!-- /PORTFOLIO ITEM -->
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/018.jpg" class="popup" title="Fotografia 18">
                    <div class="work-image">
                      <img src="assets/images/fotos/018.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                <!-- /PORTFOLIO ITEM -->
                      <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/019.jpg" class="popup" title="Fotografia 19">
                    <div class="work-image">
                      <img src="assets/images/fotos/019.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                        <!-- /PORTFOLIO ITEM -->
                        
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/020.jpg" class="popup" title="Fotografia 20">
                    <div class="work-image">
                      <img src="assets/images/fotos/020.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                        <!-- /PORTFOLIO ITEM -->
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/021.jpg" class="popup" title="Fotografia 21">
                    <div class="work-image">
                      <img src="assets/images/fotos/021.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                        <!-- /PORTFOLIO ITEM -->
                        
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/022.jpg" class="popup" title="Fotografia 22">
                    <div class="work-image">
                      <img src="assets/images/fotos/022.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                        <!-- /PORTFOLIO ITEM -->
                        
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/023.jpg" class="popup" title="Fotografia 23">
                    <div class="work-image">
                      <img src="assets/images/fotos/023.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                        <!-- /PORTFOLIO ITEM -->
                        
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/024.jpg" class="popup" title="Fotografia 24">
                    <div class="work-image">
                      <img src="assets/images/fotos/024_t.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                        <!-- /PORTFOLIO ITEM -->
                        
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/025.jpg" class="popup" title="Fotografia 25">
                    <div class="work-image">
                      <img src="assets/images/fotos/025_t.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                        <!-- /PORTFOLIO ITEM -->
                        
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/026.jpg" class="popup" title="Fotografia 26">
                    <div class="work-image">
                      <img src="assets/images/fotos/026_t.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                        <!-- /PORTFOLIO ITEM -->
                        
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/027.jpg" class="popup" title="Fotografia 27">
                    <div class="work-image">
                      <img src="assets/images/fotos/027_t.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                        <!-- /PORTFOLIO ITEM -->
                        
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/028.jpg" class="popup" title="Fotografia 28">
                    <div class="work-image">
                      <img src="assets/images/fotos/028_t.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                        <!-- /PORTFOLIO ITEM -->
                        
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/029.jpg" class="popup" title="Fotografia 29">
                    <div class="work-image">
                      <img src="assets/images/fotos/029_t.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                        <!-- /PORTFOLIO ITEM -->
                        
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/030.jpg" class="popup" title="Fotografia 30">
                    <div class="work-image">
                      <img src="assets/images/fotos/030_t.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                        <!-- /PORTFOLIO ITEM -->
                        
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/031.jpg" class="popup" title="Fotografia 31">
                    <div class="work-image">
                      <img src="assets/images/fotos/031_t.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                        <!-- /PORTFOLIO ITEM -->
                        
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/032.jpg" class="popup" title="Fotografia 32">
                    <div class="work-image">
                      <img src="assets/images/fotos/032.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                        <!-- /PORTFOLIO ITEM -->
                        
                        <!-- PORTFOLIO ITEM -->
                <li class="work-item">
                  <a href="assets/images/fotos/033.jpg" class="popup" title="Fotografia 33">
                    <div class="work-image">
                      <img src="assets/images/fotos/033_t.jpg" alt="">
                    </div>
                    <div class="work-caption">
                      <h3 class="work-title font-alt">
                        <span class="icon-magnifying-glass"></span>
                      </h3>
                    </div>
                  </a>
                </li>
                        <!-- /PORTFOLIO ITEM -->
        
              </ul>
        
            </section>
            </div>
            <!-- /WRAPPER -->
<script>
  $(window).load(function(){
    /* ---------------------------------------------- /*
		 * Portfolio
		/* ---------------------------------------------- */



		
  });
</script>