<section id="home" class="module bg-dark bg-dark-50" style="padding: 140px 0 40px">

  <div class="hs-caption container">
    <div class="caption-content">
      <div class="hs-title-size-4 font-alt m-b-30">
        {{title}}
      </div>
    </div>
  </div>

</section>
<div class="wrapper">

		<!-- TESTIMONIAL -->
		<section class="module-small">

			<div class="container">

				<div class="row">

					<!-- MODULE TITLE -->
					<div class="col-md-4">
						<h2 class="module-title font-alt">{{autor}}</h2>
					</div>
					<!-- /MODULE TITLE -->

					<!-- BLOCKQUOTE -->
					<div class="col-sm-12 col-md-8" [innerHTML]="description | sanitizer">
          </div>
        </div>
    </div>
  </section>
</div>
            