	<!-- HOME -->
	<section id="home" class="module-hero module-parallax module-fade module-full-height bg-dark-30">

		<div class="hs-caption container">
			<div class="caption-content">
				<div class="hs-title-size-1 font-inc">
					<strong>{{'home.mensagem' | translate}}</strong><br
					/>- Francisco Brennand
				</div>
			</div>
		</div>

	</section>
	<!-- /HOME -->

	<!-- WRAPPER -->
	<div class="wrapper">

		<!-- TESTIMONIAL -->
		<section class="module-small">

			<div class="container">

				<div class="row">

					<!-- MODULE TITLE -->
					<div class="col-sm-5">
						<h2 class="module-title font-alt">{{'home.prefacio.title' | translate}}</h2>
					</div>
					<!-- /MODULE TITLE -->

					<!-- BLOCKQUOTE -->
					<div class="col-sm-7">
						<blockquote class="font-serif align-right">
							<p><strong>{{'home.prefacio.pre-title' | translate}}</strong>
								<br />{{'home.prefacio.description.p1' | translate}}</p>
								<p>{{'home.prefacio.description.p2' | translate}}</p>
							<p class="font-inc font-uppercase">- Francisco Brennand</p>
						</blockquote>
					</div>
					<!-- /BLOCKQUOTE -->

				</div>

			</div>

		</section>
		<!-- /TESTIMONIAL -->

		<!-- ABOUT -->
		<section class="module pragana-sessao p-t-0 p-b-0">

			<div class="container-fluid">

				<div class="row relative">

					<div class="col-sm-12 col-md-6 col-md-offset-6 col-bg">

						<h2 class="module-title font-alt">{{'home.bio.title' | translate}}</h2>

						<div class="module-subtitle font-inc">
								{{'home.bio.pre-title' | translate}}
						</div>
						<p>{{'home.bio.individuais.title' | translate}}</p>
						{{'home.bio.individuais.01' | translate}}<br />
						{{'home.bio.individuais.02' | translate}}<br />
						{{'home.bio.individuais.03' | translate}}<br />
						{{'home.bio.individuais.04' | translate}}<br />
						{{'home.bio.individuais.05' | translate}}<br />
						{{'home.bio.individuais.06' | translate}}<br />
						{{'home.bio.individuais.07' | translate}}<br />
						{{'home.bio.individuais.08' | translate}}<br />
						{{'home.bio.individuais.09' | translate}}<br />
						<br /><br />

						<p>{{'home.bio.coletivas.title' | translate}}</p>
						{{'home.bio.coletivas.01' | translate}}<br />
						{{'home.bio.coletivas.02' | translate}}<br />
						{{'home.bio.coletivas.03' | translate}}<br />
						{{'home.bio.coletivas.04' | translate}}<br />
						{{'home.bio.coletivas.05' | translate}}<br />
						{{'home.bio.coletivas.06' | translate}}<br />
						{{'home.bio.coletivas.07' | translate}}<br />
						<br /><br />
						<ul class="social-list">
							<li><a aria-hidden="true" href="https://www.facebook.com/pages/Atelier-Pragana/115976118484904" target="_blank"><span class="fa fa-facebook"></span></a></li>
							<li><a aria-hidden="true" href="https://www.instagram.com/pragana" target="_blank"><span class="fa fa-instagram"></span></a></li>
						</ul>

					</div>

				</div>

			</div>

		</section>
		<!-- /ABOUT -->
	</div>
	<!-- /WRAPPER -->
